//colors
$black: black;
$white: white;
$ice-blue:#eafefc;
$dandelion:#fdd908;
$dark-blue:#0d457f;
$nav-blue: rgba(13, 69, 127, 0.8);

//basic styles
ul {
	margin: 0;
	padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
}
img {
  width: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: $ice-blue;
	font-size: 1.1rem;
	@media (min-width: 1200px){
		font-size: 1.3rem;
	}
}
section {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer {
	text-align: center;
	background: $dandelion;
	padding: 0.5rem;
	font-size: 0.75rem;
	color: $dark-blue;
	@media (min-width: 1200px){
        font-size: 1rem;
    }
}

//class library
.flex {
	display: flex;
	display: -webkit-flex;
}
.grid {
  display: grid;
}
.wrapper {
	padding-left: 30px;
	padding-right: 30px;
	@media (min-width: 940px){
		padding-left: 50px;
		padding-right: 50px;
	}
}
.button {
	font-family: 'IM Fell English', serif;
	background: $dandelion;
	color: $dark-blue;
	text-transform: uppercase;
	font-style: italic;	
}

// base style for h2, h3, etc
@mixin headingStyle($color) {
  font-family: 'IM Fell English', serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: $color;
  @media (min-width: 1200px){
      font-size: 2.5rem
    }
}
//left-box shadow
@mixin l-shadow($color) {
	box-shadow: -20px 20px $color;
}
//right-box shadow
@mixin r-shadow($color) {
	box-shadow: 20px 20px $color;
}

/* Landscape phones and down */
@media (min-width: 480px){}
/* Landscape phone to portrait tablet */
@media (min-width: 768px){}
/* Portrait tablet and small desktops */

/* Large monitors */
@media (min-width: 1400px){}

