@import 'partials/setup';
@import 'partials/global';
@import 'partials/header';
@import 'partials/form';

body {
  background: $ice-blue;
}

//header and navigation styles are in header partial
h1 {
  @include h1Style($white);
}
.hero-banner {
  @include headerBanner;
  background-image: url(../assets/blog-header.jpg);
  justify-content: center;
  @media (min-width: 940px){
    justify-content: flex-start;
  }
}

// blog content section styles
header {
  z-index: 10;
}
main {
  flex-direction: column;
  @media (min-width: 940px){
    margin-top: -100px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.blog {
  @media (min-width: 940px){
    padding-right: 0;
  }
}
.blog-content {
  flex-direction: column;
  @media (min-width: 940px){
    padding: 30px;
  }
  .blog-img {
    order: 1;
    @media (min-width: 940px){
      order: 0;
      // &::before {
      //   content: '';
      //   position: absolute;
      //   top: 20px;
      //   left: -20px;
      //   width: 86%;
      //   height: 100%;
      //   background: $dandelion;
      //   z-index: 20;
      // }
      img {
        z-index: 30;
        height: 100%;
      }
    }
  }
  p:nth-last-child(2), p:last-child {
    order: 2;
  }
  h2 {
    @include headingStyle ($dark-blue);
  }
  @media (min-width: 940px){
    padding: 0;
  }
}

// side section styles
aside {
  background: $dark-blue;
  padding-bottom: 30px;
  h3 {
    @include headingStyle ($dandelion);
  }
  p, a {
    color: $white;
  }
  ul li {
    color: $white;
    list-style: disc;
    margin-left: 1rem;
    padding: 7px;
  }
  .mission, .recent-post {
    margin-left: 30px;
  }
  @media (min-width: 940px){
    width: 35%;
    margin-top: 100px;
  }
  @media (min-width: 1200px){
    margin-top: 13%;
  }
}

// comments section
.comments {
  h3 {
    @include headingStyle ($dark-blue);
  }
  .comment-title {
    align-items: center;
    flex-wrap: wrap;
  }
  .comment-img {
    width: 10%;
  }
  .comment-date {
    margin: 10px;
  }
}

// other form styles are found in forms partial
form {
  background: $ice-blue;
  padding: 0;
}
input[type=text], 
input[type=email]
{
  @include formStyle($ice-blue, $dark-blue);
  border-bottom:1px solid $dandelion;
}
textarea {
  @include formStyle($ice-blue, $white);
  border: 1px solid $dandelion;
}
.form-button {
  color: $dandelion;
  background-color: $dark-blue;
}

//footer styles are in global partial