@import 'partials/global';
@import 'partials/header';
@import 'partials/form';

p {
  margin: 0;
}
i {
  font-size: 1.5rem;
}

//header and navigation styles are in header partial
h1 {
  @include h1Style($white);
}
.hero-banner {
  @include headerBanner;
  background-image: url(../assets/contact-header.jpg);
  background-position: bottom right;
}
svg {
  width: 30px;
  height: 30px;
}

// body styles
main {
  flex-direction: column;
  @media (min-width: 940px){
    margin-top: -100px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
aside {
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  @media (min-width: 768px){
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media (min-width: 940px){
    flex-direction: column;
    margin-top: 80px;
    &.wrapper {
      padding-right: 15px;
    }
  }
  @media (min-width: 1200px){
    flex-direction: column;
    margin-top: 13%;
    justify-content: flex-start;
  }
}
.social-menu li{
  a {
    display: inline-block;
    padding: 10px;
    color: $dark-blue;
    transition: color 0.2s ease;
  }
}
.contact-links {
  a:focus, a:hover {
    color: $dandelion;
  }
}
.address {
  margin: 20px 0;
}

// other form styles are found in forms partial
form {
  background: $dark-blue;
  @media (min-width: 940px){
    @include r-shadow($dandelion);
    margin-bottom: 100px;
    width: 60%;
  }
}
input[type=text], 
input[type=email]
{
  @include formStyle($dark-blue, $white);
  border-bottom:1px solid $dandelion;
}
textarea {
  @include formStyle($dark-blue, $white);
  border: 1px solid $dandelion;
}
.form-button:focus {
  background: $white;
  color: $dark-blue;
}