@import 'partials/setup';
@import 'partials/global';
@import 'partials/header';

body {
  background: $ice-blue;
}

//header and navigation styles are in header partial
h1 {
  @include h1Style($dandelion);
    @media (min-width: 940px){
        width:50%;
        font-size: 3rem;
    }
    @media (min-width: 1200px){
        font-size: 4rem;
    }
}
.hero-banner {
    @include headerBanner;
    background-image: url(../assets/home-header.jpg);
    background-position: top center;
    @media (min-width: 940px){
        height: 45vw;
        justify-content: flex-start;
        align-items: flex-end;
    }
}

//snippet section
.top-image {
    picture img {
        width: 1px;
    }
    @media (min-width: 940px){
        picture {
            display: flex;
            margin-top: -300px;
            justify-content: flex-end;
            img {
                width: 56%;
            }
        }
    }
    @media (min-width: 1200px){
        margin-top: -33%;
    }
}
.intro-snippets {
    padding-bottom: 80px;
    ul {
        flex-direction: column;
        @media (min-width: 940px){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        @media (min-width: 1200px){
            padding: 0 30px;
        }
    }
}
.snippet-title {
    align-items: center;
    .icon-bg{
        width: 60px;
        height: 60px;
        margin: 0 1.5rem;
        padding: 1rem;
        background: $dandelion;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    svg {
        width: 30px;
        height: 30px;
        fill: $dark-blue;
        text-align: center;
        }
    h3 {
        @include headingStyle ($dark-blue);
    }
    @media (min-width: 1200px){
        padding-top: 15px;
    }
}
.snippet {
    p {
        margin: 0 30px;
    }
    @media (min-width: 940px){
        width: 45%;
    }
}

// feature section
.feature {
    flex-direction: column;
    background: $dark-blue;
    padding-top: 0;
    color: $white;
    h2{
        @include headingStyle($white);
    }
    @media (min-width: 940px){
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
}
.feature1 {
    flex-direction: column;
    @media (min-width: 940px){
        width: 45%;
        .feature-img {
            position: relative;
            margin-top:-50px;
            @include r-shadow($dandelion);
        }
        .feature-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-self: flex-end;
            padding-left: 50px;
            max-width: 650px;
        }
    }
    h2 {
        @media (min-width: 1200px){
            text-align: right;
        }
    }
}
.feature2 {
    flex-direction: column;
    @media (min-width: 940px){
        width:45%;
        flex-direction: column-reverse;
        .feature-img {
            position: relative;
            margin-bottom: -50px;
            @include l-shadow($dandelion);
        }
        .feature-content {
            padding-right: 50px;
            max-width: 650px;
        }
    }
}
.feature-content {
    padding: 30px;
    .button {
        padding: 10px;
        display: inline-block;
        margin: 10px 0;
        &:hover, &:focus {
            background: $ice-blue;
        }
    }
    @media (min-width: 940px){
        // width: 60%;
    }
}
.feature-img {
    @media (min-width: 940px){
        // width: 40%;
    }
}

//about section
.about {
    flex-direction: column;
    padding-top: 0;
    .about-content {
        @media (min-width: 940px){
            align-items: center;
            padding: 100px 75px 50px 75px;
        }
        h2{
            @include headingStyle($dark-blue);
            text-align: center;
        }
        p {
            padding: 0 30px;
            @media (min-width: 1200px){
                max-width: 1000px;
            }
        }
        .button {
            padding: 10px;
            display: inline-block;
            margin: 10px 30px;
            align-self: flex-start;
            &:hover, &:focus {
                background: $dark-blue;
                color: $dandelion;
            }
        }
    }
    .about-bg {
        @include headerBanner;
        background-image: url(../assets/banner.jpg);
        @media (min-width: 940px){
            order: 1;
        }
    }
    @media (min-width: 1200px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// contest section
.contest {
    padding: 30px;
    flex-direction: column;
    h2 {
        @include headingStyle($dark-blue);
    }
    .button {
        padding: 10px;
        display: inline-block;
        margin: 10px 0;
        &:hover, &:focus {
            background: $dark-blue;
            color: $dandelion;
        }
    }
    @media (min-width: 940px){
        padding: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .contest-img {
            align-items: stretch;
            width: 25%;
            @include l-shadow($dandelion);
        }
        .contest-content {
            width: 70%;
            @media (min-width: 1200px){
                max-width: 1000px;
            }
        }
    }
    @media (min-width: 1200px){
        padding: 100px;
    }
    @media (min-width: 1500px){
        padding: 150px;
    }
}

//gallery section
.gallery {
    background: $dark-blue;
    img {
        height: 100%;
    }
    li {
        position: relative;
    }
    .gallery-overlay {
            background-color: rgba(0,0,0,0.3);
            opacity:0; 
            position: absolute;
            top:0;
            left:0; 
            width:100%; 
            height:100%; 
            transition: opacity 0.2s ease;
            &:hover {
                opacity: 1;
                svg {
                    width: 100px;
                    height: 100px;    
                }
            }
        }
        svg {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: all 0.2s ease;
            fill: $white;
            opacity: 1;
        }
    @media (min-width: 940px){
        padding: 50px 100px;
        ul {
            justify-content: space-between;
        }
        li {
            width: calc((100% - 40px) / 3);
        }
    }
    @media (min-width: 1500px){
        padding: 100px 150px;
        li {
            width: calc((100% - 80px) / 3);
        }
    }
}

// footer styles are found in global partial