article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #eafefc;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  text-align: center;
  background: #fdd908;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #0d457f;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.relative {
  position: relative;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.button {
  font-family: 'IM Fell English', serif;
  background: #fdd908;
  color: #0d457f;
  text-transform: uppercase;
  font-style: italic;
}

.top-nav {
  position: fixed;
  width: 100%;
  height: 45px;
  background: rgba(13, 69, 127, 0.8);
}

.top-nav ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.top-nav ul a {
  padding: 10px 15px;
  color: white;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-nav ul a:hover, .top-nav ul a:focus {
  color: #fdd908;
}

.top-nav ul a:hover::after {
  content: "";
  display: block;
  margin: 3px auto;
  width: 100%;
  height: 3px;
  background-color: #fdd908;
}

.active::after {
  content: "";
  display: block;
  margin: 3px auto;
  width: 100%;
  height: 3px;
  background-color: #fdd908;
}

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet and small desktops */
@media (min-width: 940px) {
  header {
    width: 100vw;
    height: 35vw;
  }
}

/* Large monitors */
.form-button {
  width: 100%;
  border: 0;
  padding: 0.5rem;
  text-align: center;
}

body {
  background: #eafefc;
}

h1 {
  font-family: 'IM Fell English', serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  line-height: 5rem;
  color: white;
}

.hero-banner {
  width: 100vw;
  height: 60vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/blog-header.jpg);
}

.blog-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-content .blog-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.blog-content p:nth-last-child(2), .blog-content p:last-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.blog-content h2 {
  font-family: 'IM Fell English', serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: #0d457f;
}

aside {
  background: #0d457f;
  padding-bottom: 30px;
}

aside h3 {
  font-family: 'IM Fell English', serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: #fdd908;
}

aside p, aside a {
  color: white;
}

aside ul li {
  color: white;
  list-style: disc;
  margin-left: 1rem;
}

.comments h3 {
  font-family: 'IM Fell English', serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: #0d457f;
}

.comments .comment-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comments .comment-img {
  width: 10%;
}

.comments .comment-date {
  margin: 10px;
}

form {
  background: #eafefc;
}

input[type=text],
input[type=email] {
  padding: 10px 15px;
  width: 100%;
  margin: 10px 0;
  border: 0;
  background: #eafefc;
  color: #0d457f;
  border-bottom: 1px solid #fdd908;
}

textarea {
  padding: 10px 15px;
  width: 100%;
  margin: 10px 0;
  border: 0;
  background: #eafefc;
  color: white;
  height: 150px;
  border: 1px solid #fdd908;
}

.form-button {
  color: #fdd908;
  background-color: #0d457f;
}
