/* 940px down - mobile view, slight adjustment at 768px*/
/* 940px and up - desktop view, slight adjustments at 1200, 1500 */
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #eafefc;
  font-size: 1.1rem;
}

@media (min-width: 940px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  h3 {
    line-height: 0;
  }
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  text-align: center;
  background: #fdd908;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #0d457f;
}

@media (min-width: 1200px) {
  footer {
    font-size: 1rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 940px) {
  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.button {
  font-family: 'IM Fell English', serif;
  background: #fdd908;
  color: #0d457f;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.top-nav {
  position: fixed;
  width: 100%;
  height: 45px;
  background: rgba(13, 69, 127, 0.8);
}

.top-nav ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.top-nav ul a {
  padding: 10px 15px;
  color: white;
  display: inline-block;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.top-nav ul a:hover, .top-nav ul a:focus {
  color: #fdd908;
}

.top-nav ul a::after {
  content: "";
  display: block;
  margin: 3px auto;
  width: 100%;
  height: 3px;
  background-color: #fdd908;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-nav ul a:hover::after {
  opacity: 1;
}

.top-nav ul .active::after {
  content: "";
  display: block;
  margin: 3px auto;
  width: 100%;
  height: 3px;
  background-color: #fdd908;
  opacity: 1;
}

@media (min-width: 940px) {
  .top-nav {
    position: absolute;
    background: none;
    width: 50%;
    padding-left: 50px;
  }
  .top-nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 940px) and (min-width: 1200px) {
  .top-nav ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 20px;
  }
}

@media (min-width: 940px) {
  .top-nav ul a {
    padding: 20px 30px;
  }
}

/* Landscape phones and down */
/* Portrait tablet and small desktops */
/* Large monitors */
body {
  background: #eafefc;
}

h1 {
  font-family: 'IM Fell English', serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  line-height: 5rem;
  color: #fdd908;
  text-shadow: 3px 3px 3px black;
}

@media (min-width: 940px) {
  h1 {
    font-size: 4rem;
    margin-left: 30px;
    max-width: 900px;
  }
}

@media (min-width: 940px) {
  h1 {
    width: 50%;
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

.hero-banner {
  width: 100vw;
  max-width: 100%;
  height: 60vw;
  background-color: #0d457f;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/home-header.jpg);
  background-position: top center;
}

@media (min-width: 940px) {
  .hero-banner {
    width: 100vw;
    height: 35vw;
  }
}

@media (min-width: 940px) {
  .hero-banner {
    height: 45vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.top-image picture img {
  width: 1px;
}

@media (min-width: 940px) {
  .top-image picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -300px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top-image picture img {
    width: 56%;
  }
}

@media (min-width: 1200px) {
  .top-image {
    margin-top: -33%;
  }
}

.intro-snippets {
  padding-bottom: 80px;
}

.intro-snippets ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 940px) {
  .intro-snippets ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .intro-snippets ul {
    padding: 0 30px;
  }
}

.snippet-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.snippet-title .icon-bg {
  width: 60px;
  height: 60px;
  margin: 0 1.5rem;
  padding: 1rem;
  background: #fdd908;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.snippet-title svg {
  width: 30px;
  height: 30px;
  fill: #0d457f;
  text-align: center;
}

.snippet-title h3 {
  font-family: 'IM Fell English', serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: #0d457f;
}

@media (min-width: 1200px) {
  .snippet-title h3 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .snippet-title {
    padding-top: 15px;
  }
}

.snippet p {
  margin: 0 30px;
}

@media (min-width: 940px) {
  .snippet {
    width: 45%;
  }
}

.feature {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #0d457f;
  padding-top: 0;
  color: white;
}

.feature h2 {
  font-family: 'IM Fell English', serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: white;
}

@media (min-width: 1200px) {
  .feature h2 {
    font-size: 2rem;
  }
}

@media (min-width: 940px) {
  .feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

.feature1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 940px) {
  .feature1 {
    width: 45%;
  }
  .feature1 .feature-img {
    position: relative;
    margin-top: -50px;
    -webkit-box-shadow: 20px 20px #fdd908;
            box-shadow: 20px 20px #fdd908;
  }
  .feature1 .feature-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-left: 50px;
    max-width: 650px;
  }
}

@media (min-width: 1200px) {
  .feature1 h2 {
    text-align: right;
  }
}

.feature2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 940px) {
  .feature2 {
    width: 45%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .feature2 .feature-img {
    position: relative;
    margin-bottom: -50px;
    -webkit-box-shadow: -20px 20px #fdd908;
            box-shadow: -20px 20px #fdd908;
  }
  .feature2 .feature-content {
    padding-right: 50px;
    max-width: 650px;
  }
}

.feature-content {
  padding: 30px;
}

.feature-content .button {
  padding: 10px;
  display: inline-block;
  margin: 10px 0;
}

.feature-content .button:hover, .feature-content .button:focus {
  background: #eafefc;
}

.about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0;
}

@media (min-width: 940px) {
  .about .about-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 75px 50px 75px;
  }
}

.about .about-content h2 {
  font-family: 'IM Fell English', serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: #0d457f;
  text-align: center;
}

@media (min-width: 1200px) {
  .about .about-content h2 {
    font-size: 2rem;
  }
}

.about .about-content p {
  padding: 0 30px;
}

@media (min-width: 1200px) {
  .about .about-content p {
    max-width: 1000px;
  }
}

.about .about-content .button {
  padding: 10px;
  display: inline-block;
  margin: 10px 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about .about-content .button:hover, .about .about-content .button:focus {
  background: #0d457f;
  color: #fdd908;
}

.about .about-bg {
  width: 100vw;
  max-width: 100%;
  height: 60vw;
  background-color: #0d457f;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/banner.jpg);
}

@media (min-width: 940px) {
  .about .about-bg {
    width: 100vw;
    height: 35vw;
  }
}

@media (min-width: 940px) {
  .about .about-bg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 1200px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contest {
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contest h2 {
  font-family: 'IM Fell English', serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: #0d457f;
}

@media (min-width: 1200px) {
  .contest h2 {
    font-size: 2rem;
  }
}

.contest .button {
  padding: 10px;
  display: inline-block;
  margin: 10px 0;
}

.contest .button:hover, .contest .button:focus {
  background: #0d457f;
  color: #fdd908;
}

@media (min-width: 940px) {
  .contest {
    padding: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contest .contest-img {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 25%;
    -webkit-box-shadow: -20px 20px #fdd908;
            box-shadow: -20px 20px #fdd908;
  }
  .contest .contest-content {
    width: 70%;
  }
}

@media (min-width: 940px) and (min-width: 1200px) {
  .contest .contest-content {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  .contest {
    padding: 100px;
  }
}

@media (min-width: 1500px) {
  .contest {
    padding: 150px;
  }
}

.gallery {
  background: #0d457f;
}

.gallery img {
  height: 100%;
}

.gallery li {
  position: relative;
}

.gallery .gallery-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.gallery .gallery-overlay:hover {
  opacity: 1;
}

.gallery .gallery-overlay:hover svg {
  width: 100px;
  height: 100px;
}

.gallery svg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  fill: white;
  opacity: 1;
}

@media (min-width: 940px) {
  .gallery {
    padding: 50px 100px;
  }
  .gallery ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery li {
    width: calc((100% - 40px) / 3);
  }
}

@media (min-width: 1500px) {
  .gallery {
    padding: 100px 150px;
  }
  .gallery li {
    width: calc((100% - 80px) / 3);
  }
}
